@model Books.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.Image" class="card-img rounded-start" alt="Book Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">@Model.Title</h1>
                    <p class="card-text">
                        <strong>Author:</strong> @Model.Author<br />
                        <strong>Price:</strong>
                        @if (Model?.Price != null)
                        {
                            <span>@string.Format("€{0:N2}", Model.Price)</span>
                        }
                        else
                        {
                            <span>No price available</span>
                        }
                    </p>
                    <hr class="my-4">
                    <p class="card-text">
                        <strong>ISBN:</strong> @Model.ISBN<br />
                        <strong>Date Published:</strong> @Model.DatePublished.ToShortDateString()<br />
                        <hr/>
                        <strong>Description:</strong> @Model.Description
                    </p>
                </div>
                <div class="card-footer bg-light d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
                    <a asp-action="" asp-route-id="@Model.Id" class="btn btn-outline-primary store-btn"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
