@model Books.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Model.Image" class="card-img rounded-start" alt="Book Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">@Model.Title</h2>
                        <h5 class="card-title">
                        <strong>Author:</strong> @Model.Author
                        </h5>
                        <p class="text-muted">Description:</p> @Model.Description</p>
                    <hr class="my-4">
                     <h5 class="card-text">Price:
                        @if (Model?.Price != null)
                        {
                            <span><strong>@string.Format("€{0:N2}", Model.Price)</strong></span>
                        }
                        else
                        {
                            <span>No price available</span>
                        }
                    </h5>
                    <p class="card-text">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-muted">ISBN: <span >@Model.ISBN</span></p> 
                        </div>
                        <div class="col-md-6 text-md-end">
                            <p class="text-muted">Date Published:  <span>@Model.DatePublished.ToShortDateString()</span></p> 
                           
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="card-footer d-flex float-right">
                    <a asp-action="" asp-route-id="@Model.Id" class="btn btn-outline-primary store-btn"><i
                            class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
