@using Books.Data;
@model PaginatedList<Books.Models.Book>

@{
    ViewData["Title"] = "Bookstore";
}


<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 20px
    }

    .card {
        width: 15%;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 20px;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
    }

    .card-body {
        padding: 15px;
        display: flex;
        flex-direction: column;

    }

    .card-title {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .card-text {
        color: black;
        text-decoration: none;
        margin-bottom: 8px;
    }

    .card-text a {
        color: black;
        text-decoration: none;
        margin-bottom: 8px;
    }

    .card-text a:hover {
        text-decoration: none;
    }

    .card-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary {
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #1a3446;
        border: 2px solid #1a3446;
    }

    .group {
        display: flex;
        line-height: 28px;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 900px;
        margin: auto;
    }

    .input {
        justify-content: center;
        width: 100%;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: 0.3s ease;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .input:focus,
    input:hover {
        outline: none;
        border-color: rgba(76, 202, 234, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgba(76, 205, 234, 0.1);
    }

    .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }
</style>


<h2 class="my-4 text-center">Book Collection</h2>
<h6 class="my-4 text-center">We believe that books have the power to inspire, educate, and entertain.</h6>



<div class="card-container">
    @foreach (var book in Model)
    {
        <div class="card">
            <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@book.Id">
                <img src="@book.Image" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-test">By @book.Author</p>
                    <p class="card-text">Price: @string.Format("€{0:N2}", book.Price)</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="card-actions">
                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id" class="btn btn-primary">
                                <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                            </a>
                        </div>
                    }
                </div>
            </a>
        </div>
    }
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pr-4">
    <ul style="display: flex; float:right; list-style: none; border-radius: .35rem">
        <li class="paginate_button page-item previous" id="dataTable_previous">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                aria-controls="dataTable" data-dt-idx="1" class="btn page-link @prevDisabled">
                Previous
            </a>
        </li>
        <li class="paginate_button page-item next" id="dataTable_next">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                aria-controls="dataTable" data-dt-idx="2" class="btn page-link @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</div>
