@model Books.Models.Bestseller

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DatePublished)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DatePublished)
                </dd>
                <dt class="col-sm-4 text-right">Price:</dt>
                <dd class="col-sm-8">
                    @if (Model?.Price != null)
                    {
                        <span>@string.Format("€{0:N2}", Model.Price)</span>
                    }
                    else
                    {
                        <span>No price available</span>
                    }
                </dd>
            </dl>
        </div>
        <div class="col-sm-6 text-right">
            <dt class="col-sm-12">Image:</dt>
            <dd class="col-sm-12">
                @if (!string.IsNullOrEmpty(Model?.Image))
                {
                    <img src="@Model.Image" alt="Book Image" class="img-fluid" />
                }
                else
                {
                    <span>No image available</span>
                }
            </dd>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
