@model Books.Models.Cart

<style>
    .quantity-controls{
        display: flex;
        align-items: center;
        gap: 10px; 
        color: black; 
    }
</style>

<h2>Cart</h2>
<hr/>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Book</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.CartItems)
{
    var bookTotal = item.Book.Price * item.Quantity;

    <tr>
        <td>
            <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">
                <img src="@item.Book.Image" style="height: 4em">
            </a>
        </td>
        <td>
            <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">@item.Book.Title</a>
        </td>
        <td>
            @bookTotal.ToString("C", new System.Globalization.CultureInfo("en-IE"))
        </td>
        <td>
            <div class="quantity-controls">
                <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Book.Id"><i class="fa-solid fa-minus"></i></a>
                <span>@item.Quantity</span>
                <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Book.Id"><i class="fa-solid fa-plus"></i></a>
            </div>
        </td>
        <td>
           <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Book.Id" class="text-danger d-inline-block text-center" style="width: 50px;">
    <i class="fa-solid fa-xmark"></i>
</a>

        </td>
    </tr>
}

        </tbody>
        <tfoot>
                <td style="padding: 10px;"></td>
                <td style="padding: 10px;"></td>
                <td style="padding: 10px;"></td>
                <td style="padding: 10px;"></td>
                <td class="text-right" style="padding: 10px;">
                    <strong>Total: @(Model?.GetCartTotal().ToString("C", new System.Globalization.CultureInfo("en-IE")))</strong>
                </td>
        </tfoot>
    </table>
   
<div class="d-flex justify-content-end">
     <a class="a-cleanup" asp-controller="Cart" asp-action="ClearCart">
        <div class="btn btn-danger mr-3"><i class="fa-solid fa-trash-can"></i> Clear Cart</div>
    </a>
    <a class="a-cleanup" asp-controller="Order" asp-action="Checkout">
        <div class="btn btn-success">Checkout <i class="fa-solid fa-angles-right"></i></div>
    </a>
</div>
}
else
{
    <h3 class="text-center"> Cart is Empty</h3>
}
