@model Books.Models.Cart

<h2><i class="fa-solid fa-cart-shopping"></i>Cart</h2>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Book</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
            {
                var bookTotal = item.Book.Price = item.Quantity;
                <tr>
                    <td>
                        <img src="@item.Book.Image" style="height: 4em">
                    </td>
                    <td>
                        @item.Book.Title
                    </td>
                    <td>
                        @(bookTotal.ToString("C"))
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr style="background-color: #f2f2f2; color: #333; font-weight: bold;">
                <td style="padding: 10px;"></td>
                <td style="padding: 10px;"></td>
                <td style="padding: 10px;"></td>
                <td style="padding: 10px;"></td>
                <td class="text-right" style="padding: 10px;">
                    <strong>Total: @(Model?.GetCartTotal().ToString("C"))</strong>
                </td>
            </tr>

        </tfoot>
    </table>
}
else
{
    <h3 class="text-center"> Cart is Empty</h3>
}
